name: Update Package.resolved
on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    container: swift:latest
    steps:
      - uses: actions/checkout@v6
      - name: Update Package.resolved
        run: |
          set -ex

          swift package update
          swift build

          git config --global --add safe.directory /__w/swiftfiddle-lsp/swiftfiddle-lsp
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          git add Package.resolved
          git diff-index --quiet HEAD || git commit -m "Update Package.resolved"
          git push origin main
